main, #main, .main { margin: 15px; }

/* bootstrap - redo */
html {
	font-family: sans-serif;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
}

.text-center {
	text-align: center !important;
}

.row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

.col {
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-ms-flex-positive: 1;
	flex-grow: 1;
	min-width: 0;
	max-width: 100%;
	
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}


/* squares page specific */
.squares-container { border-width: .2rem; border: solid #000000; }
.row { margin-right: 0px; margin-left: 0px; }
.row>.col { border: 1px solid #000000; padding-top: 1rem; padding-bottom: 1rem; }

.bg-grey { background-color: #c7c7c7; }

.bolder { font-weight: bolder; }
.ucase, .upper { text-transform: capitalize; }

.btnClick>a { cursor: pointer; }