html { height: 100%; width: 100%; margin: 0; padding 0; }
body { overflow-x: hidden; }
/*009E65*/
.maincontent { margin: auto; width: 100%; min-height: 350px; }
/* padding: 15px; margin: 15px auto; */
.maincontent .row { /*width: 100%;*/ }
.maincontent .row > div { margin-left: auto; margin-right: auto; max-width: 950px; }
.maincontent .row .article, .maincontent .row article { padding: 15px; }
.maincontent .main.article, .maincontent article.main { margin: auto; max-width: 850px; padding: 30px 10px; }

p { line-height: 1.75; }

ul.noDot li { list-style: none; }
.pullRight ul.noDot { margin-top: 5px; }

.mapContainer a.direction-link {
	position: absolute;
	top: 15px;
	right: 25px;
	z-index: 990;
	color: #FFF;
	text-decoration: none;
	font-size: 15px;
	font-weight: bold;
	line-height: 25px;
	padding: 8px 20px;
	background: #97163C /*2a5500*/;
}
.mapContainer a.direction-link:hover { background: #7d2b44 /*97055D*/ /*2a7733*/ /*#008800*/; }

.text-faded { color: rgba(255, 255, 255, 0.3); }

.upper { text-transform: uppercase; }
.lower { text-transform: lowercase; }
.center { text-align: center; }

.rounded-10 { border-radius: 10px; }
.rounded-15 { border-radius: 15px; }
.rounded-20 { border-radius: 20px; }
.rounded-25 { border-radius: 25px; }

.btn-xl {
	font-weight: 700;
	font-size: 0.8rem;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	padding-left: 2rem;
	padding-right: 2rem;
}

.nolink, .nolink:visited, .nolink:hover { text-decoration: none !important; color: #000000; }
.blcklink, .blcklink:visited, .blcklink:hover { color: #000000; }

.btn-default, .btn-default:hover, .btn-default.focus, .btn-default:focus, .btn-default.disabled, .btn-default:disabled { color: #ffffff; background-color: #afafaf; border-color: #afafaf; }

.text-primary, .primary, .fa-primary { color: #97163C /*2a5500*/ !important; }

.red, .fa-red { color: #ff0000; }
.lt-red, .fa-lt-red { color: #cc0000; }
.xdrk-red, .fa-xdrk-red { color: #990000; }
.green, .fa-green { color: #00dd00; }
.brt-green, .fa-brt-green { color: #00ff00; }
.dk-green, .fa-dk-green { color: #008800; }
.blue, .fa-blue { color: #0000ff; }
.white, .fa-white { color: #ffffff; }
.black, .fa-black { color: #000000; }
.grey, .fa-grey { color: #aaaaaa; }
.lt-grey, .fa-lt-grey { color: #c8c8c8; }

.bg-red { background-color: #ff0000; }
.bg-lt-red { background-color: #cc0000; }
.bg-xdrk-red { background-color: #990000; }
.bg-green, .greenbg { background-color: #00dd00; }
.bg-brt-green, .brt-greenbg { background-color: #00ff00; }
.bg-dk-green, .dk-greenbg { background-color: #008800; }
.bg-blue { background-color: #0000ff; }
.bg-white { background-color: #ffffff; color: #000000; }
.bg-black { background-color: #000000; color: #ffffff; }
.bg-lt-grey { background-color: #c8c8c8; color: #000000; }
.bg-other { background-color: #e6a756; }

.border-red, .redbrdr { border: solid 1px #ff0000; }
.border-green, .greenbrdr { border: solid 1px #00ff00; }
.border-blue, .bluebrdr { border: solid 1px #0000ff; }
.border-white, .whitebrdr { border: solid 1px #ffffff; }
.border-black, .blackbrdr { border: solid 1px #000000; }
.border-grey, .greybrdr { border: solid 1px #aaaaaa; }

.border-thick { border-width: 2px; }
.border-thick-x3, .border-xthick { border-width: 3px; }
.border-thick-x4 { border-width: 4px; }
.border-thick-x5 { border-width: 5px; }

.bg-primary { background-color: #97163C /*2a5500*/ !important; }
.btn-primary { background-color: #97163C /*2a5500*/; border-color: #97163C /*2a5500*/; }
.btn-primary:hover, .btn-primary:focus, .btn-primary:active { background-color: #97163C /*2a5500*/; border-color: #97163C /*2a5500*/; }

.bg-default { background-color: #c8c8c8 !important; color: #000000 !important; }
.btn-default { background-color: #c8c8c8; border-color: #c8c8c8; color: #000000 !important; }
.btn-default:hover, .btn-default:focus, .btn-default:active { background-color: #c8c8c8; border-color: #c8c8c8; color: #000000 !important; }


.font-weight-light { font-weight: 100 !important; }

.ml-5 { margin-left: 5px !important; }
.ml-10 { margin-left: 10px; }
.ml-15 { margin-left: 15px; }
.ml-20 { margin-left: 20px; }
.ml-25 { margin-left: 25px; }
.ml-30 { margin-left: 30px; }

.mr-5 { margin-right: 5px !important; }
.mr-10 { margin-right: 10px; }
.mr-15 { margin-right: 15px; }
.mr-20 { margin-right: 20px; }
.mr-25 { margin-right: 25px; }
.mr-30 { margin-right: 30px; }

.mt-5 { margin-top: 5px !important; }
.mt-10 { margin-top: 10px; }
.mt-15 { margin-top: 15px; }
.mt-20 { margin-top: 20px; }
.mt-25 { margin-top: 25px; }
.mt-30 { margin-top: 30px; }

.mb-5 { margin-bottom: 5px !important; }
.mb-10 { margin-bottom: 10px; }
.mb-15 { margin-bottom: 15px; }
.mb-20 { margin-bottom: 20px; }
.mb-25 { margin-bottom: 25px; }
.mb-30 { margin-bottom: 30px; }

.pl-5 { padding-left: 5px !important; }
.pl-10 { padding-left: 10px; }
.pl-15 { padding-left: 15px; }
.pl-20 { padding-left: 20px; }
.pl-25 { padding-left: 25px; }
.pl-30 { padding-left: 30px; }

.pr-5 { padding-right: 5px !important; }
.pr-10 { padding-right: 10px; }
.pr-15 { padding-right: 15px; }
.pr-20 { padding-right: 20px; }
.pr-25 { padding-right: 25px; }
.pr-30 { padding-right: 30px; }

.pt-5 { padding-top: 5px !important; }
.pt-10 { padding-top: 10px; }
.pt-15 { padding-top: 15px; }
.pt-20 { padding-top: 20px; }
.pt-25 { padding-top: 25px; }
.pt-30 { padding-top: 30px; }

.pb-5 { padding-bottom: 5px !important; }
.pb-10 { padding-bottom: 10px; }
.pb-15 { padding-bottom: 15px; }
.pb-20 { padding-bottom: 20px; }
.pb-25 { padding-bottom: 25px; }
.pb-30 { padding-bottom: 30px; }

.nocursor, .nocursor:hover { cursor: default !important; }

#gototop {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: red;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
	opacity: .7;
}

#gototop:hover {
	background-color: #555;
}

@font-face {
	font-family: "DSCenturyCapitals";
	src: url("/assets/fonts/dscentury.eot"); /* IE9 Compat Modes */
	src: url("/assets/fonts/dscentury.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("/assets/fonts/dscentury.otf") format("opentype"), /* Open Type Font */
		url("/assets/fonts/dscentury.svg") format("svg"), /* Legacy iOS */
		url("/assets/fonts/dscentury.ttf") format("truetype"), /* Safari, Android, iOS */
		url("/assets/fonts/dscentury.woff") format("woff"), /* Modern Browsers */
		url("/assets/fonts/dscentury.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "LumpiaBrush";
	src: url("/assets/fonts/LumpiaBrushFree.eot"); /* IE9 Compat Modes */
	src: url("/assets/fonts/LumpiaBrushFree.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("/assets/fonts/LumpiaBrushFree.otf") format("opentype"), /* Open Type Font */
		url("/assets/fonts/LumpiaBrushFree.svg") format("svg"), /* Legacy iOS */
		url("/assets/fonts/LumpiaBrushFree.ttf") format("truetype"), /* Safari, Android, iOS */
		url("/assets/fonts/LumpiaBrushFree.woff") format("woff"), /* Modern Browsers */
		url("/assets/fonts/LumpiaBrushFree.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}

.font-dscentury {
	font-family: "DSCenturyCapitals";
}

.font-lumpia {
	font-family: "LumpiaBrush";
}

/* For small screen */
.maincontent .row.row-striped:nth-child(even) {
	background-color: #efefef;
}
.maincontent .row.row-striped:nth-child(odd) {
	background-color: #c8c8c8;
}


/* auto-style - need to get rid of this eventually */
.auto-style1 {
	text-align: left;
	font-family: Times New Roman, Times, serif;
	font-size: 1em;
}

.auto-style2 {
	text-align: right;
	font-family: Times New Roman, Times, serif;
	font-size: 1em;
}

.auto-style3 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 1em;
	color: #0000FF;
}

.card-formed {
	color: #4391FC !important; 
	border: solid 5px #4391FC !important; 
	border-radius: 10px;
}